@charset "utf-8";

#mainHeaderContainer 
{
	width:				590px;
	margin: 			0 auto;
	height:				310px;
	background-color: 	#2c3946;
}

#mainHeaderNav
{
	font-size:			5px;
	width:				98%;
	height:				50%;
	margin:				0 auto;
	text-align:			center;
	
}

#mainHeaderBackground
{
	margin: 			0 auto;
	height:				230px;
	background-color: 	#3f4f5e;
}

#globalBackground
{
	font-size:			35px;
	font-style:			normal;
	font:				haettenschweiler;
	background-color: 	#566777;
}

#pictureWall
{
	font-size:			20px;
	font-style:			normal;
	font:				haettenschweiler;
	background-color: 	#566777;
	margin: 			0 auto;
	text-align:			center;
	position:			relative;
	top:				100px;
	border:             1px solid;
	border-color:       #384654;
}

#footnote
{
	margin: 			auto;
	height:				200px;
	background-color: 	#4e4d4d;
}

#contentImage
{
	background-color: 	#384654;
	margin: 			auto;
	text-align:			center;
	position:			relative;
    top:                100px;
    width:              980px;
    font-size:		    40px;
	font-style:			normal;
    font-family:        Arial;
    color:              #b6cbd3;
    font-size:			25px;

}

#contentText {
    font-size:			22px;
	font-style:			normal;
    font-family:        Arial;
    color:              #b6cbd3;
    font-weight:        normal;
	background-color: 	#384654;
	margin: 			auto;
	text-align:			left;
	position:			relative;
    top:                100px;
    width:              940px;
    border-top:         20px solid #384654;
    border-bottom:      20px solid #384654;
    border-left:        20px solid #384654;
    border-right:       20px solid #384654;
}

#contentTextTitle {
    font-size:			52px;
	font-style:			normal;
    font-family:        Arial;
    color:              #b6cbd3;
    font-weight:        bold;
	background-color: 	#384654;
	margin: 			auto;
	text-align:			center;
	position:			relative;
    top:                100px;
    width:              980px;
    border-top:         15px solid #384654;
    border-bottom:      15px solid #384654;
}

#contentTextSub {
    font-size:			40px;
	font-style:			normal;
    font-family:        Arial;
    color:              #b6cbd3;
    font-weight:        normal;
	background-color: 	#384654;
	margin: 			auto;
	text-align:			center;
	position:			relative;
    top:                100px;
    width:              980px;
    border-top:         20px solid #384654;
    border-bottom:      20px solid #384654;
}

#workPageTitle {
    font-size:			25px;
	font-style:			normal;
    font-family:        Arial;
    color:              #b6cbd3;
    font-weight:        normal;
	background-color: 	#384654;
	margin: 			auto;
    padding :           20px;
	text-align:			center ;
	position:			relative;
    top:                100px;
    width:              980px;
    border-top:         20px solid #384654;
    border-bottom:      20px solid #384654;
}

#workPageItemSub {
    font-size:			25px;
	font-style:			normal;
    font-family:        Arial;
    color:              #b6cbd3;
    font-weight:        normal;
	background-color: 	#2b3744;
	margin: 			auto;
    padding :           20px;
	text-align:			center ;
	position:			relative;
    top:                100px;
    width:              980px;
    border-top:         15px solid #2b3744;
    border-bottom:      15px solid #2b3744;
}
